multiple header fields with the same field name are not accessible

If a request contains, e.g. 2 Cookie Headerfields, it's seems not possible to access them in njs.
`for (var field in r.headersIn) { r.log(field + ': ' r.headersIn[field]) }` would write 2 times the first cookie.
A workaround is using `r.variables.http_cookies` instead of `r.headersIn`, where this is validly combined.
But this is not possible for the Set-Cookie Header, since it is not possible to combine it, as mentioned in [RFC 7230 Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2).
Therefore it would be good if the getters of headersIn and headersOut would return arrays instead of strings or any other solution in order to support those use-cases.